body {
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #434553;
  text-align: center;  
  color: #c5c5d0;
}

a {
  text-decoration: none;
  color: #c5c5d0;
}

a:hover {
  text-decoration: underline;
}

.name {
  padding: 4rem;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 5rem;
}

.info {
  padding: 3rem;
  font-size: 1.4rem;
    
}

.spacer {
  padding-top: .4rem;
  margin: auto;
  width: 90%;
  max-width: 50rem;
  background-color: #c5c5d0;
  border-radius: .2rem;
}

.footer {
  margin: 5px;
  position: fixed;
  right:0px;
  bottom: 0px;
  font-size: .8rem;
}