html {
  min-height: 100%;
  background-color: #464753;
  background-image: url(image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;  
  color: rgb(208, 208, 218);
  color: rgba(255,255,255,0.75);
  margin: 0px;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: rgb(208, 208, 218);
  color: rgba(255,255,255,0.75)
}

a:hover {
  text-decoration: underline;
}

.name {
  padding: .8em;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 6em;
}

.info {
  padding: 1em;
  font-size: 1.5rem;
}

.spacer {
  padding-top: .4em;
  margin: auto;
  width: 90%;
  max-width: 50em;
  background-color: rgb(208, 208, 218);
  background-color: rgba(255,255,255,0.75);
  border-radius: .2em;
}

.footer {
  position: relative;
  text-align: right;
  margin: 5px;
  font-size: 14px;
}